#sculptures-container {
  width: 100vw;
  height: 100vh;
}

#sculptures-header {
  /* height: 15rem; */
  background-color: #171717;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 8rem;
}

#sculptures-title {
  color: #fff;
}

#sculptures-quantity-items {
  color: #5c83cf;
  margin-top: 1rem;
  margin-left: 1rem;
}

#sculptures-button {
  width: 15.625rem;
  height: 2.5rem;
  margin-top: 1.875rem;
  border: 0;
  cursor: pointer;
  background: #5c83cf;
  border-radius: 0.3125rem;
  color: #ffffff;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

#modal-title {
  color: #39393A;
}

#modal-options {
  color: #5c83cf;
}

#filter-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#filter-button {
  border: 0;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  background: none;
  margin-top: 0.625rem;
}

#sculptures-quantity-container,
#sculptures-result-value-container,
#sculptures-result-quantity-container,
#sculptures-type-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sculptures-subtitle,
#sculptures-result-title,
#sculptures-result-subtitle,
#sculptures-result-quantity,
#sculptures-type-filter-title {
  color: #fff;
  margin-top: 1rem;
}

#sculptures-result-value,
#sculptures-result-quantity,
#sculptures-type-filter-value {
  color: #66cf5c;
  margin-top: 1rem;
  margin-left: 1rem;
}

#sculptures-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#sculptures-items-card,
#sculptures-items-card-target {
  width: 25rem;
  height: 15rem;
  background-color: #5c83cf;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

#sculptures-items-card-target {
  background-color: #66cf5c;
}

#sculptures-image-container {
  display: flex;
  justify-content: center;
}

#sculptures-image {
  height: 10rem;
}
